#landing{
  background: url("../img/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
  margin-left: 43%;
  margin-top: 20%;
  font-family: 'Arapey', sans-serif;
  font-size: 30px;
  color: white;
}
nav{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f15a29;
  opacity: 0.9;
  z-index: 10;
  position: absolute;
  right: 100%;
}

#open-nav{
  position: absolute;
  z-index: 1;
  padding: 2%;
  color: rgb(255, 255, 255);

}
i{
  font-size: 500%;
}
.logo{
  width: 30%;
}
#food{
  height: 33%;
  text-align: center;
  background-color: #f15a29;
  color: white;
  font-family: 'Arapey', sans-serif;
  font-size: 250%;
}
.happy{
  margin-top: 14%;
}
.party{
  margin-top: 10%;
}
.breakfast{
  background: url("../img/foodtop/breakfast.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 5%;
  padding-left: 0%;
}
.lunch{
  background: url("../img/foodtop/lunch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 5%;
  padding-left: 0%;
}
.dinner{
  background: url("../img/foodtop/dinner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 5%;
  padding-left: 0%;
}
.myImages{
  width: 100%;
}
.fastFood{
  margin-top: 5%;
  box-shadow: 0px 0px 5px 5px #888;
  float: right;
  margin-left: 30%;
  padding: 1%;
}
.fastFood-text{
  margin-top: 13%;
  margin-right: 15%;
  margin-left: 3%;
  font-family: 'Montserrat', sans-serif;
  font-size: 180%;
}
.drinks{
  box-shadow: 0px 0px 5px 5px #888;
  margin-top: 5%;
  padding: 1%;
  margin-right: 5%;
  height: 70%;
}
.drinkImage1{
  width: 100%;
  height: 100%;
  padding-right: 0%
}
.drinkImage2{
  width: 100%;
  height: 100%;
  padding-left: 0%;
}
.drink-text{
  margin-top: 10%;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30%;
  margin-right: 10%;
  font-size: 180%;
}
.gallery{
  background-color: white;
  color: #f15a29;
  border-color: #f15a29;
  border-width: 0.5%;
  padding: 2%;
  padding-right: 3%;
}
.snacks{
  background: url("../img/backgrounds/foodsBg.jpg");
  background-size: cover;
}
ul {
  font-size: 280%;
}
.nav{
  background-color: #D8D8D8;
  padding-left: 20%;
  color: black;
}
.tab-content{
  background-color: white;
  color: #f15a29;
  font-size: 300%;
  padding-top: 3%;
  overflow: auto;
}
.snackTab{
  margin: 3%;
  padding: 5%;
}
/* unvisited link */
a:link {
    color: #A0A0A0;
}

/* visited link */
a:visited {
    color: #A0A0A0;
}

/* mouse over link */
a:hover {
    color: #f15a29;
}
/* selected link */
a:active {
    color: #f15a29;
}
.juice{
height: 80%;
padding-top: 0%;
margin-left: 40%;
}
#drinks{
  height: 30%;
}
.chicken, .rice{
  margin-left: 30%;
}
.feedback{
  margin-top: 5%;
  font-family: cursive;
  font-size: 150%;
  box-shadow: 0px 0px 5px 5px #888;
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 3%;
}
.feedback h3{
  color: #f15a29;
  font-weight: bold;
  text-align: center;
  font-size: 200%;
}
.feedback p,h4{
  color: black;
}
.subscribe{
  background: url(../img/backgrounds/subscribe.jpg);
  background-size: cover;
}
.sub-style{
  padding-top: 3%;
  padding-left: 28%;
  padding-bottom: 5%;
  color: white;
  font-size: 300%;
  font-weight: bold;
  font-family: cursive;
}

#email{
  background-color: #ffffff;
  opacity: .4;
  width: 40%;
}
.btn{
  background-color: #f15a29;
  font-size: 120%;
  margin-left: 10%;
}
.end{
  background-color: #f15a29;
  color: white;
  font-size: 250%;
  padding-top: 3%;
  padding-left: 40%;
  padding-bottom: 5%;
  font-family: cursive;
}
.footerImg{
  height: 5%;
  width: 4%;
}
.footerP{
  color: black;
}
#type:hover{
  background: url("../img/white.png");
  opacity: 0.6;
  color: black;
}
ul a:hover{
  color: black;
}
ul a:link{
  color: white;
}
