.jumbotron{
  background-image:url("../img/backgrounds/landing.jpg");
  float:inherit;
}
.box{
  background-color:grey;
  font-size:200%;
  padding-bottom:24px;
}

.box-2{
  background-color: #F15A29
  padding-top:24PX;
  padding-bottom:24px;
  text-align:center;
  color:white;
  font-size:300%;

}
